@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
